@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* 
#eaedf5
#fff
*/


.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background: #eaedf5;
  margin-top: 2rem;
}

.header {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1101px;
  height: 1160px;
  max-width: 100%;
  padding: 2rem;
  background: #ffffff;
}

.left-side {
  width: 424px;
}

.right-side {
  max-width: 100%;
}

.flex-item {
  width: calc(100% / 2);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 2rem;
}

.res-text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
  color: #2f3441;
}

.bold-number {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}


#chartContainer {
  height: auto;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffff;
}

.form-group label {
  font-size: 15px;
  line-height: 1.5;
  color: #696969;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.form-group input[type="number"] {
  background: #ffffff;
  display: block;
  border: 1px solid #acb6c3;
  border-radius: 3px;
  padding: 12px 16px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 15px;
  width: 100%;
  font-size: 20px;
  padding: 19px 20px;
  margin-top: 0;
}

.output {
  font-size: 20px;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
}

input[type=range] {
  width: 100%;
  margin: 20.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #1e4bd2;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -21px;
  width: 16px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 21.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  width: 16px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}


.button-primary {
  background-color: #1e4bd2;
  color: #fff !important;
  padding: 25px 30px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  text-align: center;
  margin-top: 1rem;
}

/* Small screen */

@media (max-width: 913px) {

  .results {
    grid-template-columns: repeat(1, 4fr);
    text-align: left;
  }

  .bold-number {
    font-size: 18px;
  }
}

@media (max-width: 650px) {

  .calc-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #eaedf5;
  }

  .left-side, .right-side {
    width: 100%;
  }

  
}